doctype html
head
    title
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    //if mso
      xml
        o:officedocumentsettings
          o:pixelsperinch 96
          o:allowpng
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css')
    // <![endif]
    include _style
table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f5f5f5;' width='100%')
    tbody
        tr
            td
                table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 680px;' width='680')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='66.66666666666667%')
                                                table.icons_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:20px;padding-top:55px;padding-left:30px;display:flex;')
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 12px; mso-line-height-alt: 18px; color: #2C2A2A; line-height: 1.5; font-family: Poppins, Arial, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 25.5px;')
                                                                        span.tinyMce-placeholder(style='font-size:17px;') Flow Team
                                            td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='33.333333333333336%')
                                                table.text_block.block-3(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:20px;padding-left:15px;padding-right:15px;padding-top:55px;')
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 12px; mso-line-height-alt: 18px; color: #2C2A2A; line-height: 1.5; font-family: Poppins, Arial, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 25.5px;')
                                                                        span.tinyMce-placeholder(style='font-size:17px;') #{timeStamp}
                table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #4F8A73; color: #000000; width: 680px;" width='680')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.heading_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:100px;padding-top:100px;text-align:center;width:100%;')
                                                            h1(style='margin: 0; color: #ffffff; direction: ltr; font-family: Poppins, Arial, Helvetica, sans-serif; font-size: 38px; font-weight: 700; letter-spacing: normal; line-height: 150%; text-align: center; margin-top: 0; margin-bottom: 0;')
                                                                span.tinyMce-placeholder Welcome, #{firstName} #{lastName}!
                table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #000000; width: 680px;' width='680')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-left: 50px; padding-right: 50px; vertical-align: top; padding-top: 0px; padding-bottom: 40px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.heading_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:10px;padding-top:15px;text-align:center;width:100%;')
                                                            h3(style='margin: 0; color: #4F8A73; direction: ltr; font-family: Poppins, Arial, Helvetica, sans-serif; font-size: 28px; font-weight: 400; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;')
                                                                span.tinyMce-placeholder We&apos;re thrilled to have you onboard.
                                                table.divider_block.block-2(border='0' cellpadding='20' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td.pad
                                                            .alignment(align='center')
                                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='15%')
                                                                    tr
                                                                        td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 3px solid #4F8A73;')
                                                                            span &hairsp;
                                                table.text_block.block-3(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:15px;padding-left:15px;padding-right:15px;padding-top:10px;')
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 12px; mso-line-height-alt: 18px; color: #2C2A2A; line-height: 1.5; font-family: Poppins, Arial, Helvetica, sans-serif;')
                                                                    p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 30px;')
                                                                        span.tinyMce-placeholder(style='font-size:20px;') #{ownerFirstName} #{ownerLastName} has added you to #{project} team. You can visit the project upon clicking
                                                                        a(href='https://www.facebook.com/' target='_blank' style="font-size: 20px;color: #2C2A2A;margin-left:4px;") this link.
                table.row.row-4(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #fafafa; color: #000000; width: 680px;' width='680')
                                    tbody
                                        tr.reverse
                                            td.column.column-1.first(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-left: 30px; padding-right: 30px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                                                .border
                                                    table.heading_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                        tr
                                                            td.pad(style='padding-bottom:40px;padding-top:35px;text-align:center;width:100%;')
                                                                h3(style='margin: 0; color: #4F8A73; direction: ltr; font-family: Poppins, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: 400; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;')
                                                                    strong
                                                                        span.tinyMce-placeholder Any question?
                                            td.column.column-2.last(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-left: 30px; padding-right: 30px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                                                .border
                                                    table.button_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                        tr
                                                            td.pad(style='text-align:center;padding-top:25px;padding-bottom:50px;')
                                                                .alignment(align='center')
                                                                    //if mso
                                                                      v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' style='height:42px;width:157px;v-text-anchor:middle;' arcsize='72%' strokeweight='1.5pt' strokecolor='#0452EE' fill='false')
                                                                        w:anchorlock
                                                                          v:textbox(inset='0px,0px,0px,0px')
                                                                            center(style='color:#2d2d2d; font-family:Arial, sans-serif; font-size:14px')
                                                                    div(style='text-decoration:none;display:inline-block;color:#2d2d2d;background-color:transparent;border-radius:30px;width:auto;border-top:2px solid #4F8A73;font-weight:400;border-right:2px solid #4F8A73;border-bottom:2px solid #4F8A73;border-left:2px solid #4F8A73;padding-top:5px;padding-bottom:5px;font-family:Poppins, Arial, Helvetica, sans-serif;font-size:14px;text-align:center;mso-border-alt:none;word-break:keep-all;')
                                                                        span(style='padding-left:30px;padding-right:30px;font-size:14px;display:inline-block;letter-spacing:normal;')
                                                                            span(style='word-break: break-word;')
                                                                                span.tinyMce-placeholder(data-mce-style='' style='line-height: 28px;') Send an email
                                                                    //if mso
                table.row.row-5(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                    tbody
                        tr
                            td
                                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #4F8A73; color: #000000; width: 680px;' width='680')
                                    tbody
                                        tr
                                            td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 25px; padding-bottom: 25px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                                                table.heading_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                                    tr
                                                        td.pad(style='padding-bottom:25px;padding-top:15px;text-align:center;width:100%;')
                                                            h3(style='margin: 0; color: #ffffff; direction: ltr; font-family: Poppins, Arial, Helvetica, sans-serif; font-size: 24px; font-weight: 400; letter-spacing: normal; line-height: 120%; text-align: center; margin-top: 0; margin-bottom: 0;')
                                                                strong
                                                                    span.tinyMce-placeholder Don&rsquo;t forget to follow us!

                                                table.text_block.block-2(border='0' cellpadding='20' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                                                    tr
                                                        td.pad
                                                            div(style='font-family: sans-serif')
                                                                div(style='font-size: 12px; font-family: Poppins, Arial, Helvetica, sans-serif; mso-line-height-alt: 18px; color: #fafafa; line-height: 1.5;')
                                                                    p(style='margin: 0; font-size: 10px; text-align: center; mso-line-height-alt: 15px;')
                                                                        span(style='font-size:10px;')
                                                                            span(style='') &copy; 2022 Flow.&nbsp;
                                                                        span(style='font-size:10px;')
                                                                            span(style='')  All Rights Reserved.
// End
